body {
  background-color: #E9F8FD;
  margin: 0px;
}

header {
  border: 15px solid #90E676;
  width: 100%;
  height: 150px;
  position: fixed;
  padding-left: 10px;
  vertical-align: middle;
}
header span{
  font-size: 20px;

}
.container{
  position: absolute;
  right: 400px;
  top: 50px;
  border: 10px solid blue;
  width: 600px;
  background-color: #B0F69B;
}

h1 {
  font-family: verdana;
  font-size: 32px;
  color: #EC4E2C;
  text-align: center;
  background-color: #A2EAF5;
  border-style: solid;
  border:1px;
  border-color: #838687;
  border-radius: 3px;
}
h2{
  font-family: verdana;
  font-size: 26px;
  color: #C25C47;
  text-align: center;
}
p {
  font-family: inherit;
  font-size: 16px;
}
